section {
    margin: 0px 30px 0 30px;
}

header {
    margin: 0px 30px 0 30px;
}

#section1 {
    margin-right: 0;
}

/* Section 1 */

#filtres div {
    margin-bottom: 0px;
    margin-right: 0;
    margin-left: 0; 
}

#filtres h1 {
    margin-right: 15px;
    margin-top: 10px;   
}

/* Section 2 */



.card {
    width: 48%;
}

.hebergementblockinfos .stars {
    margin-bottom: 10px;
}

#popularcards {
    justify-content: flex-start;
}

#popularblock {
    width: 100%;
    border-radius: 0;
}

.popularcard {
    margin-bottom: 20px;
}

.card {
        width: 48%;
    }
#section2 {
        flex-direction: column-reverse;
        margin: 0;
        margin-top: 40px;
    }

#hebergementblock {
    width : 100% ;
    border-radius: 0;
    background-color: white;
}


