body {
    margin: 0;
}

section {
    margin: 0;
}

header {
    margin: 0;
}

/* Header */

nav {
    flex-direction: column;
    margin: 0;
    margin-top: 15px;
    
}

nav ul {
    width: 100%;
    justify-content: space-around;
    margin-top: 15px;
}

nav li {
    margin: 0;
    width: 100%;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 23px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom:  2px solid #F2F2F2;
    margin: 0;
    width: 100%;
    justify-content: center;
    border-top: 0;
}

nav li a:hover, nav li a:active  {
    color: #0065FC;
    border-bottom: #0065FC 2px solid;
    border-top: 0;
}

#section1 {
    margin-left: 20px;
}

#loupe {
    display: inline;
    color: white;
    background-color: #0065FC;
    padding: 10px 12px 10px 12px;
    border-radius:  30% 30% 30% 30%;

}

#Rechercher {
    display: none;
}

#filtres div {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

#filtres h1 {
    margin-right: 650px;
}


/* Section 2 */

#section2 {
    flex-direction: column-reverse;
}

#hebergementblock {
    width: 100%;
    background-color: white;
}

#popularblock {
    width :100%;
    border-radius: 0;
    height: 680px;
}

.card {
    width: 100%;
}

.hebergementblockinfos .stars {
    margin-bottom: 8px;
}

/* Section 3 */

#section3 {
   padding: 0 30px 0 30px;
}

#activites {
    flex-wrap: wrap;
}

.large {
    width: 100%;
    margin-bottom: 30px;
    height: 220px;
}

.combo {
    width: 100%;
}

.small {
    margin-bottom: 30px;
    height: 220px;
}

.medium {
    margin-bottom: 30px;
    height: 220px;
}


/* Footer */

footer {
    flex-direction: column;
}


